<div class="card">
  <div class="card-header">
    {{createdAt}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">Author: {{user}}</p>
    <a href="/posts/{{id}}" class="btn btn-primary">Read more..</a>
  </div>
</div>