<div class="card" style="width: 900px;">
  <div class="card-header">
    {{format_date createdAt}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">Author: {{user.username}}</p>
    <a href="/posts/{{id}}" class="btn btn-primary">Read more..</a>
    <button class="btn btn-primary">Update</button>
  </div>
</div>