
<div class="col">
    

    <div class="col" style="display:flex; flex-direction:column; border-radius:5px;" >
        <button type="button" class="btn btn-primary btn-lg" id="newpost" style="width:200px;">Create New Post</button>
        <div class="post-form">
            <div class="mb-3">
            <label class="form-label" id="post-form-title">Title</label>
            <input class="form-control" id="exampleFormControlInput1" style="margin:5px; width:-webkit-fill-available; border-radius:0px;">
            </div>
            <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label" id="post-form-description">Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="margin:5px; width:-webkit-fill-available; border-radius:0px;"></textarea>
            </div>
            <button type="button" class="btn btn-primary" id="post-submit-button">Submit</button>
            <button type="button" class="btn btn-primary" id="post-cancel-button">Cancel</button>

            
        </div>
    </div>
    <div class="col">
        {{#each dashBoardData as |dashboard|}}
        {{> userposts}}
        {{/each}}
    </div>
</div>
<script>
    const newPostButton = document.getElementById('newpost');
    const cancelButton = document.getElementById('post-cancel-button');
    const updatePostButton = document.getElementById('update-btn');

    const openPostForm = () => {
        const postForm = document.querySelector('.post-form');
        postForm.setAttribute('style', "display:block; width: 600px; height:320px; margin-top:20px;");
    }

    const closePostForm = () => {
        const postForm = document.querySelector('.post-form');
        postForm.setAttribute('style', "display:none;");
    }

    
    newPostButton.addEventListener('click', openPostForm)
    cancelButton.addEventListener('click', closePostForm)
    

</script>

<script src="./js/newPost.js"></script>

{{#if loggedIn}}
<script src= './js/logout.js'></script>
{{/if}}